{% extends "base.html" %}

{% block content %}


<form method="POST" action="/signup">
    <div class="column is-12">
        <div class="box">
            <h3 class="title">Sign Up</h3>
        </div>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="username" name="username" placeholder="Username"
                            autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="description" placeholder="Treasures"
                            autofocus="">
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
            </form>
        </div>
    </div>
    {% endblock %}
